.red {
    background-color: #DF0000;
}

.blue {
    background-color: #006dcc;
}

.green {
    background-color: #008000;
}

.brown {
    background-color: #a53a2a;
}

body {
    font-family: Proxima-SemiBold;
}

.header-content {
    height: 45px;
}

.main-content {
    height: 700px;
}

.blocks {
    height: 300px;
}

.footer-content {
    height: 100px;
}

.logo {
    background-color: #4fb1a2;
    color: #ffffff;
}

.nav-list {
    float:left;
    list-style-type: none;
    padding: 10px;

}

.header-link {
    background-color: #4fb1a2;
}