.red {
    background-color: #DF0000;
}

.blue {
    background-color: #006dcc;
}

.green {
    background-color: #008000;
}

.brown {
    background-color: #a53a2a;
}

.header-content {
    height: 50px;
}

.main-content {
    height: 700px;
}

.blocks {
    height:300px;
}

.footer-content {
    height:100px;
}